*, body {
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
}
body {
    background-image: url(./img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}
.logo{
    padding: 50px;
}
.logo img {
    width: 350px;
    height: auto;
    margin: 0 auto;
}

h1 {
    font-size: 55px;
    font-weight: 300;
    margin: 0;
}

h4 {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
}

.redes {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    margin-top: 80px;
}

.redes ul li a {
    display: flex;
}

.redes img {
    width: 60px;
    height: auto;
}

.redes p {
    font-size: 25px;
    font-weight: 300;
    margin-left: 30px;
}

footer {
    font-size: 20px;
    font-weight: 400;
}

@media only screen and (max-width:1440px) {
    .logo img {
        width: 318px;
        height: auto;
        margin: 0 auto;
    }

    h1 {
        font-size: 50px;
        font-weight: 300;

    }

    h4 {
        font-size: 22px;
        font-weight: 300;

    }

    .redes {
        display: flex;
        justify-content: center;
        margin-bottom: 90px;
        margin-top: 60px;
    }

    .redes ul li a {
        display: flex;
    }

    .redes img {
        width: 48px;
        height: auto;
    }

    .redes p {
        font-size: 25px;
        font-weight: 300;
        margin-left: 30px;
    }

    #footer {
        font-size: 20px;
        font-weight: 400;
        width: 100%;
        height: 81px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
/**Movil**/

@media only screen and (max-width:768px){
    .contenedor{
        padding: 10px 10px;
        overflow: hidden;
    }
    .logo img {
        width: 218px;
        height: auto;
        margin: 0 auto;
    }

    h1 {
        font-size: 28px;
        font-weight: 300;
        margin-top: 50px;

    }

    h4 {
        font-size: 14px;
        font-weight: 300;

    }

    .redes {
        display: flex;
        justify-content: center;
        margin-bottom: 90px;
        margin-top: 80px;
        max-width: 400px;
    }

    .redes ul li a {
        display: flex;
    }

    .redes img {
        width: 38px;
        height: auto;
    }

    .redes p {
        font-size: 20px;
        font-weight: 300;
        margin-left: 20px;
    }

    #footer {
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        height: 81px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
